*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    height: 100vh;
    background-color:cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: darkkhaki;
    border: 10px solid black;
    margin: 0 10px;
}

.numbers h1{
    font-size: 100px;
}

